.inputStyle {
    border: 2px solid #5E6C77;
    color: #5E6C77;
    border-radius: .25em;
    background: transparent;
    -webkit-transition: all .100s;
    transition: all .100s;
    width: 50%;
    height: 50px;
    text-align: left;
    display: inline-block;
    font-size: 30px;
    padding: 0 15px;

        
    
  }
  .inputStyle:focus {
    outline: none;
    color: #A2ACB3;
    border-color: #A2ACB3;
  }
  .inputStyle.keyup {
    color: white;
    border-color: white;
    text-shadow: 0 0 .125em white;
    box-shadow: 0 0 .25em white,inset 0 0 .25em white;
  }
  canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
  }